LATEST_AP       = '/tmp/.checkin.latest_ap'
LOG_FILE        = '/tmp/checkin.log'
CONF_PATH       = '/PATH/TO/PROJECT/checkin/conf'
SCRIPT_PATH     = '/PATH/TO/PROJECT/checkin/scripts'
APP_CONF        = 'application.conf'
NOTIFICATION_ICON = ''